<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">

  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
        value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c - %m (%F:%L)%n"/>
    </layout>
  </appender>

  <appender name="file.trace" class="org.apache.log4j.FileAppender">
    <param name="file" value="/tmp/sip-test.log" />
    <param name="append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
        value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c%n%m%n"/>
    </layout>
  </appender>

  <logger name="com.sipgate">
    <level value="DEBUG"/>
  </logger>

  <logger name="com.sipgate.SipLogger" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="file.trace"/>
  </logger>

  <logger name="com.sipgate.PhoneLogger">
    <level value="ERROR" />
  </logger>

  <root>
    <level value="INFO"/>
    <appender-ref ref="console"/>
  </root>

</log4j:configuration>
